.libs
.deps
*.o
*.lo
*.wasm
*.js
*.test
*.log
.dirstamp
*.la
Makefile
!testsuite/libffi.bhaible/Makefile
!.ci/compile
*~
fficonfig.h
include/ffi.h
include/ffitarget.h
libffi.pc
libtool
stamp-h1
libffi*gz
autom4te.cache
libffi.xcodeproj/xcuserdata
libffi.xcodeproj/project.xcworkspace
build_*/
darwin_*/
src/arm/trampoline.S
target/
__pycache__
.docker_home
emsdk
test-results
